<h3>
  Enter a movie to search
</h3>
<input type="text" ng-model="movie1"></input><button ng-click="movie1Options()">See options</button><br>

<label data-ng-repeat="movie in movie1Options">
  <input type="radio" value="{{movie.id}}" ng-model="movie.movie1Input" />
  {{movie.name}}
</label>

<input type="text" ng-model="movie2"></input>
<button ng-click="compareMovies()">Compare casts</button>
<table>
  <tr>
    <th>
    </th>
    <th>
      {{movie1}}
    </th>
    <th>
      {{movie2}}
    </th>
  </tr>
  <tr ng-repeat="actor in crossCast">
    <td>
      {{actor.name}}
    </td>
    <td>
      {{actor.role1}}
    </td>
    <td>
      {{actor.role2}}
    </td>
  </tr>
</table>